Ensure conda environment has wbgapi installed: pip install wbgapi

In [1]:
# Import dependencies
import pandas as pd
import wbgapi as wb
import numpy as np
from sqlalchemy import create_engine
import psycopg2
from config import db_password

### Needed Series from WDI Database 
- EN.ATM.CO2E.KT - CO2 emissions (kt)
- EN.ATM.CO2E.PC - CO2 emissions (metric tons per capita)
- EN.ATM.CO2E.PP.GD.KD	- CO2 emissions (kg per 2017 PPP dollar of GDP)
- EG.USE.PCAP.KG.OE	 - Energy Use (kg of oil equivalent per capita)
- EG.FEC.RNEW.ZS - Renewable energy consumption (% of total final energy consumption)
- AG.YLD.CREL.KG - Cereal yield
- EG.ELC.ACCS.ZS - Access to Electricity (% of population)
- AG.LND.FRST.ZS - Forest area (% of land area)
- NY.GDP.MKTP.KD.ZG - GDP growth (annual %)
- NY.GDP.PCAP.CD - GDP per capita (current USD)
- NY.GNP.PCAP.CD - GNI per capita, Atlas method (current USD)
- SP.POP.TOTL - Total Population
- SP.POP.GROW - Population growth (annual %)
- SP.URB.GROW - Urban population growth (annual %)
- SP.URB.TOTL - Urban population
- SP.URB.TOTL.IN.ZS	- Urban population (% of total population)

## Extract emissions data from World Bank database via API (wbgapi)

In [2]:
series_list = ['EN.ATM.CO2E.KT',
               'EN.ATM.CO2E.PC',
               'EN.ATM.CO2E.PP.GD.KD',
               'EG.USE.PCAP.KG.OE',
               'EG.FEC.RNEW.ZS',
               'AG.YLD.CREL.KG',
               'EG.ELC.ACCS.ZS',
               'AG.LND.FRST.ZS',
               'NY.GDP.MKTP.KD.ZG',
               'NY.GDP.PCAP.CD',
               'NY.GNP.PCAP.CD',
               'SP.POP.TOTL',
               'SP.POP.GROW',
               'SP.URB.GROW',
               'SP.URB.TOTL',
               'SP.URB.TOTL.IN.ZS']

In [3]:
# Using wbgapi to extract World Bank data as Pandas data frame
raw_df = wb.data.DataFrame(series_list, time=range(1990, 2018), numericTimeKeys=True, labels=True, columns='series').reset_index()
raw_df.head()

,economy,time,Country,Time,AG.LND.FRST.ZS,AG.YLD.CREL.KG,EG.ELC.ACCS.ZS,EG.FEC.RNEW.ZS,EG.USE.PCAP.KG.OE,EN.ATM.CO2E.KT,EN.ATM.CO2E.PC,EN.ATM.CO2E.PP.GD.KD,NY.GDP.MKTP.KD.ZG,NY.GDP.PCAP.CD,NY.GNP.PCAP.CD,SP.POP.GROW,SP.POP.TOTL,SP.URB.GROW,SP.URB.TOTL,SP.URB.TOTL.IN.ZS
0,ZWE,2017,Zimbabwe,2017,45.451183,1202.7,44.178635,82.46,NaN,10340.000153,0.700965,0.300613,4.080264,1192.107012,1170.0,2.043620,14751101.0,1.860765,4755312.0,32.237
1,ZWE,2016,Zimbabwe,2016,45.570273,435.1,42.561729,81.90,NaN,11020.000458,0.762487,0.333455,0.900955,1421.787789,1200.0,2.081806,14452704.0,1.806610,4667645.0,32.296
2,ZWE,2015,Zimbabwe,2015,45.689363,557.5,33.700001,80.82,NaN,12430.000305,0.878139,0.379509,2.023650,1410.329174,1220.0,2.136294,14154937.0,1.769505,4584076.0,32.385
3,ZWE,2014,Zimbabwe,2014,45.808453,831.4,32.299999,80.27,NaN,12079.999924,0.871840,0.376287,1.484543,1407.034293,1210.0,2.191391,13855753.0,1.730983,4503674.0,32.504
4,ZWE,2013,Zimbabwe,2013,45.927543,668.5,40.498375,78.87,832.572236,12279.999733,0.905911,0.388196,3.196731,1408.367810,1200.0,2.163267,13555422.0,1.613531,4426387.0,32.654

In [4]:
# Rows and columns of data set
raw_df.shape

(7448, 20)

In [5]:
# # Datatypes of columns
raw_df.dtypes

economy                  object
time                      int64
Country                  object
Time                     object
AG.LND.FRST.ZS          float64
AG.YLD.CREL.KG          float64
EG.ELC.ACCS.ZS          float64
EG.FEC.RNEW.ZS          float64
EG.USE.PCAP.KG.OE       float64
EN.ATM.CO2E.KT          float64
EN.ATM.CO2E.PC          float64
EN.ATM.CO2E.PP.GD.KD    float64
NY.GDP.MKTP.KD.ZG       float64
NY.GDP.PCAP.CD          float64
NY.GNP.PCAP.CD          float64
SP.POP.GROW             float64
SP.POP.TOTL             float64
SP.URB.GROW             float64
SP.URB.TOTL             float64
SP.URB.TOTL.IN.ZS       float64
dtype: object

In [6]:
# Descriptive statistics
raw_df.describe()

,time,AG.LND.FRST.ZS,AG.YLD.CREL.KG,EG.ELC.ACCS.ZS,EG.FEC.RNEW.ZS,EG.USE.PCAP.KG.OE,EN.ATM.CO2E.KT,EN.ATM.CO2E.PC,EN.ATM.CO2E.PP.GD.KD,NY.GDP.MKTP.KD.ZG,NY.GDP.PCAP.CD,NY.GNP.PCAP.CD,SP.POP.GROW,SP.POP.TOTL,SP.URB.GROW,SP.URB.TOTL,SP.URB.TOTL.IN.ZS
count,7448.00000,7117.000000,6175.000000,6305.000000,7089.000000,4751.000000,6.669000e+03,6669.000000,6206.000000,6782.000000,6944.000000,6393.000000,7418.000000,7.420000e+03,7363.000000,7.364000e+03,7364.000000
mean,2003.50000,32.625391,2894.700192,79.933424,31.159401,2270.160374,9.927095e+05,4.210340,0.268540,3.581076,11171.752248,9479.314154,1.478696,2.583084e+08,2.226490,1.210294e+08,55.266415
std,8.07829,23.388023,2336.051682,29.463801,30.118135,2669.532102,3.204385e+06,5.229999,0.215092,5.787170,18975.239473,15075.519703,1.650633,8.196081e+08,2.092501,3.806065e+08,23.529375
min,1990.00000,0.000000,0.100000,0.533899,0.000000,9.579196,0.000000e+00,0.000000,0.000000,-64.047107,22.850371,40.000000,-27.722225,9.182000e+03,-27.707932,3.733000e+03,5.416000
25%,1996.75000,12.513950,1404.050000,65.926689,4.785963,603.049194,2.230000e+03,0.639336,0.138454,1.545476,1007.129242,910.000000,0.546640,1.330466e+06,0.774823,6.515722e+05,35.295750
50%,2003.50000,30.855176,2388.700000,98.300003,20.946516,1238.114597,2.374000e+04,2.421594,0.215263,3.712218,3322.033110,3020.000000,1.408416,8.483160e+06,2.199913,4.041233e+06,54.165000
75%,2010.25000,47.617367,3796.250000,100.000000,54.760000,3025.736971,2.464900e+05,6.218103,0.330033,5.902814,13096.144542,10400.000000,2.416364,5.593234e+07,3.503700,3.182758e+07,74.308513
max,2017.00000,98.574551,36761.900000,100.000000,98.340000,21420.628504,3.351454e+07,47.651306,2.085052,149.972963,203266.913745,122130.000000,19.360429,7.578158e+09,31.143425,4.147419e+09,100.000000

## Data clean starts here

In [7]:
# Assign original dataframe to another that can be modified
emissions_df = raw_df
emissions_df.sample(5)

,economy,time,Country,Time,AG.LND.FRST.ZS,AG.YLD.CREL.KG,EG.ELC.ACCS.ZS,EG.FEC.RNEW.ZS,EG.USE.PCAP.KG.OE,EN.ATM.CO2E.KT,EN.ATM.CO2E.PC,EN.ATM.CO2E.PP.GD.KD,NY.GDP.MKTP.KD.ZG,NY.GDP.PCAP.CD,NY.GNP.PCAP.CD,SP.POP.GROW,SP.POP.TOTL,SP.URB.GROW,SP.URB.TOTL,SP.URB.TOTL.IN.ZS
2930,LBR,1999,Liberia,1999,85.682101,1277.2,NaN,90.050951,NaN,400.000000,0.143382,NaN,NaN,NaN,NaN,5.546454,2789743.0,6.326939,1227152.0,43.988
4577,DNK,2004,Denmark,2004,14.438900,6013.1,100.000000,14.440000,3597.172960,53729.999542,9.941673,0.197073,2.668219,46511.598332,42640.0,0.258432,5404523.0,0.499468,4624434.0,85.566
2396,MNG,2001,Mongolia,2001,9.212578,708.4,71.076576,6.090000,976.601158,8970.000000,3.627759,0.803407,2.952711,512.819470,470.0,0.878310,2472601.0,2.766455,1439598.0,58.222
2547,MUS,1990,Mauritius,1990,20.231527,4190.8,99.041565,47.067827,629.382069,1160.000000,1.095606,0.133060,7.186737,2506.179312,2430.0,0.712313,1058775.0,1.434721,464802.0,43.900
2531,MUS,2006,Mauritius,2006,19.608867,7793.1,99.050987,16.410000,1006.501642,3299.999952,2.674239,0.183176,4.865545,5695.969327,5910.0,0.466404,1233996.0,0.200093,518278.0,42.000

In [8]:
# Remove Time column as it is a duplicate
emissions_df.drop(columns = ['Time'], axis = 1, inplace = True)

In [9]:
# Create a dictionary to rename the columns headers to meaningful names
column_names = {'AG.LND.FRST.ZS':'forest_area_percent',
             'AG.YLD.CREL.KG':'cereal_yield',
             'EG.ELC.ACCS.ZS':'electricity_access_percent',
             'EG.FEC.RNEW.ZS':'renew_energy_percent',
             'EG.USE.PCAP.KG.OE':'energy_use_per_capita',
             'EN.ATM.CO2E.KT':'emissions_total',
             'EN.ATM.CO2E.PC':'emissions_per_capita',
             'EN.ATM.CO2E.PP.GD.KD':'emissions_per_gdp',
             'NY.GDP.MKTP.KD.ZG':'gdp_growth_percent',
             'NY.GDP.PCAP.CD':'gdp_per_capita',
             'NY.GNP.PCAP.CD':'gni_per_capita',
             'SP.POP.GROW':'pop_growth_percent',
             'SP.POP.TOTL':'pop_total',
             'SP.URB.GROW':'urb_pop_growth_percent',
             'SP.URB.TOTL':'urban_pop_total',
             'SP.URB.TOTL.IN.ZS':'urban_pop_percent',
             'economy':'country_code',
             'time':'year',
             'Country':'country_name'    
            }

In [10]:
# Rename the columns headers
emissions_df = emissions_df.rename(columns=column_names)
emissions_df.sample(10)

,country_code,year,country_name,forest_area_percent,cereal_yield,electricity_access_percent,renew_energy_percent,energy_use_per_capita,emissions_total,emissions_per_capita,emissions_per_gdp,gdp_growth_percent,gdp_per_capita,gni_per_capita,pop_growth_percent,pop_total,urb_pop_growth_percent,urban_pop_total,urban_pop_percent
4221,FJI,1996,Fiji,53.626601,2105.100000,66.900000,59.714129,NaN,770.000000,0.966683,0.105055,4.800000,2672.435770,2620.000000,0.540289,796538.0,2.253303,368654.0,46.282000
137,VIR,1992,Virgin Islands (U.S.),67.788571,NaN,100.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.859785,105712.0,1.509159,93936.0,88.860000
3542,IDN,2003,Indonesia,53.684549,4248.100000,87.940002,43.000000,742.771661,333890.014648,1.496727,0.244497,4.780369,1052.413199,890.000000,1.338044,223080121.0,3.130549,98949418.0,44.356000
4827,COD,2006,"Congo, Dem. Rep.",61.692949,771.600000,10.292965,97.330000,296.233627,2279.999971,0.039053,0.050726,5.320980,247.541949,220.000000,3.187172,58381630.0,4.486030,22168089.0,37.971000
4463,ECU,2006,Ecuador,53.587993,2830.000000,96.315262,14.190000,669.500190,30129.999161,2.150751,0.219634,4.403526,3340.840903,3110.000000,1.721115,14009061.0,2.038218,8672589.0,61.907000
2901,LBY,2000,Libya,0.123328,637.700000,99.800003,2.040000,3070.475034,44720.000000,8.675426,0.319767,3.679270,7424.202916,NaN,1.895563,5154790.0,2.030487,3937589.0,76.387000
7359,CSS,1994,Caribbean small states,91.164263,3439.166338,80.659451,10.738155,NaN,25290.000000,4.038811,0.363336,2.787061,3226.768475,3018.319883,0.885629,6261744.0,1.177307,3099843.0,49.504475
735,TJK,2010,Tajikistan,2.929408,3117.200000,98.671501,61.830000,285.493321,2450.000048,0.321447,0.136206,6.499999,740.270556,910.000000,2.030278,7621779.0,2.037844,2021296.0,26.520000
1439,STP,2006,Sao Tome and Principe,60.629167,2454.500000,56.942719,47.330000,265.500075,79.999998,0.482727,0.158908,8.866108,861.521178,910.000000,2.471072,165725.0,4.451085,100012.0,60.348000
4434,EGY,2007,"Egypt, Arab Rep.",0.064002,7418.500000,98.465630,6.050000,846.264663,183399.993896,2.230635,0.252756,7.087827,1586.472921,1460.000000,1.951674,82218755.0,1.963280,35418195.0,43.078000

In [11]:
# Swap year and country_name columns
col_list = list(emissions_df.columns)
x, y = col_list.index('year'), col_list.index('country_name')
col_list[y], col_list[x] = col_list[x], col_list[y]
emissions_df = emissions_df[col_list]
list(emissions_df.columns)

['country_code',
 'country_name',
 'year',
 'forest_area_percent',
 'cereal_yield',
 'electricity_access_percent',
 'renew_energy_percent',
 'energy_use_per_capita',
 'emissions_total',
 'emissions_per_capita',
 'emissions_per_gdp',
 'gdp_growth_percent',
 'gdp_per_capita',
 'gni_per_capita',
 'pop_growth_percent',
 'pop_total',
 'urb_pop_growth_percent',
 'urban_pop_total',
 'urban_pop_percent']

In [12]:
#Check for no. of rows and columns
emissions_df.shape

(7448, 19)

In [13]:
#Drop all rows with nan values
emissions_df = emissions_df.dropna() 
emissions_df.shape

(3552, 19)

In [14]:
#Check for missing values
emissions_df.isnull().sum()

country_code                  0
country_name                  0
year                          0
forest_area_percent           0
cereal_yield                  0
electricity_access_percent    0
renew_energy_percent          0
energy_use_per_capita         0
emissions_total               0
emissions_per_capita          0
emissions_per_gdp             0
gdp_growth_percent            0
gdp_per_capita                0
gni_per_capita                0
pop_growth_percent            0
pop_total                     0
urb_pop_growth_percent        0
urban_pop_total               0
urban_pop_percent             0
dtype: int64

In [15]:
#Reset the index after droping rows
emissions_df.reset_index(drop=True, inplace=True)
emissions_df.head()

,country_code,country_name,year,forest_area_percent,cereal_yield,electricity_access_percent,renew_energy_percent,energy_use_per_capita,emissions_total,emissions_per_capita,emissions_per_gdp,gdp_growth_percent,gdp_per_capita,gni_per_capita,pop_growth_percent,pop_total,urb_pop_growth_percent,urban_pop_total,urban_pop_percent
0,ZWE,Zimbabwe,2013,45.927543,668.5,40.498375,78.87,832.572236,12279.999733,0.905911,0.388196,3.196731,1408.367810,1200.0,2.163267,13555422.0,1.613531,4426387.0,32.654
1,ZWE,Zimbabwe,2012,46.046633,695.7,44.000000,77.50,814.910235,12010.000229,0.905368,0.391797,15.744877,1290.193956,1120.0,1.822309,13265331.0,1.272568,4355539.0,32.834
2,ZWE,Zimbabwe,2011,46.165723,587.4,36.900002,79.27,787.030033,11409.999847,0.875955,0.430830,14.620207,1082.615774,950.0,1.438339,13025785.0,0.891612,4300463.0,33.015
3,ZWE,Zimbabwe,2010,46.284813,733.4,38.782551,82.27,736.691254,9600.000381,0.747677,0.415482,21.452061,937.840338,650.0,1.253650,12839771.0,0.706879,4262290.0,33.196
4,ZWE,Zimbabwe,2009,46.403903,452.4,43.369083,82.09,720.587138,7750.000000,0.611208,0.407369,12.019560,762.297957,440.0,1.026265,12679810.0,0.482488,4232267.0,33.378

In [16]:
#Save data into csv file
emissions_df.to_csv('../Resources/ghg_emissions.csv',index= False)

### Load our dataframe into sql

In [17]:
#create the connection to the PostgreSQL database
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/GHG_emissions"

#create the db engine
engine = create_engine(db_string)
    
# Load our datafrme into sql
emissions_df.to_sql(name='ghg_emissions', con=engine, index= False, if_exists='replace')