### Get data from the database 
- emissions by sectors data
- ghg emissions data

#### Fetch emissions by sectors data from the db

In [1]:
# Import dependencies
import pandas as pd
import wbgapi as wb
import numpy as np
from sqlalchemy import create_engine
import psycopg2
from config import db_password

In [3]:
# Connect to the Postgres database
db_string = f"postgresql+psycopg2://postgres:{db_password}@127.0.0.1:5432/GHG_emissions"

# Create an instance of database engine
engine = create_engine(db_string)
    
# Connect to PostgreSQL server
db_connection = engine.connect();
           
# SQL query to send to database
country_sectors_emissions_list = 'select c.country_name, e."year", e.sector_name ,e.emissions from sector_emissions as e join country as c on e.country_code = c.country_code;'

# Read the database results into Pandas dataframe
emissions_by_sectors_df = pd.read_sql(country_sectors_emissions_list, db_connection);

In [4]:
emissions_by_sectors_df

      country_name  year     sector_name  emissions
0         Zimbabwe  1990  transportation       2.10
1         Zimbabwe  1991  transportation       1.59
2         Zimbabwe  1992  transportation       2.21
3         Zimbabwe  1993  transportation       1.97
4         Zimbabwe  1994  transportation       1.75
...            ...   ...             ...        ...
40504  Afghanistan  2013    bunker_fuels       0.03
40505  Afghanistan  2014    bunker_fuels       0.03
40506  Afghanistan  2015    bunker_fuels       0.03
40507  Afghanistan  2016    bunker_fuels       0.04
40508  Afghanistan  2017    bunker_fuels       0.04

[40509 rows x 4 columns]

In [12]:
#Save data into csv file
emissions_by_sectors_df.to_csv('../Resources/emissions_by_sectors_viz.csv',index= False)

#### ghg emissions data

In [13]:
# SQL query to send to database
ghg_emissions_list = 'select c.country_name, e.* from ghg_emissions as e join country as c on e.country_code = c.country_code;'

# Read the database results into Pandas dataframe
ghg_emissions_df = pd.read_sql(ghg_emissions_list, db_connection);

In [14]:
#Display the data
ghg_emissions_df

,country_name,country_code,year,emissions_total,emissions_per_capita,methane_emissions(kt_CO2_emissions),nitrous_oxide_emissions(mt_CO2_emissions),pop_0014_percent,pop_1564_percent,pop_65up_percent,...,electricity_access_percent_imp,fdi_percent_gdp_imp,cereal_yield_imp,emissions_per_gdp_imp,gdp_per_capita_imp,gni_per_capita_imp,forest_area_in_per_imp,renewable_energy_consumption_imp,energy_use_per_capita_imp,pop_urb_aggl_percent_imp
0,Zimbabwe,ZWE,1992,18470.000000,1.735657,9329.999924,5350.0,47.012062,49.871419,3.116520,...,28.200000,0.065171,412.100000,1.002556,634.447359,550.000000,48.428435,64.368292,956.315843,11.087393
1,Zimbabwe,ZWE,1993,17080.000000,1.582226,7800.000191,4720.0,46.766446,50.070529,3.163025,...,31.163668,0.102075,1502.000000,0.896216,608.046610,510.000000,48.309345,64.417752,901.895966,11.197028
2,Zimbabwe,ZWE,1994,15960.000000,1.469804,8470.000267,4890.0,46.299705,50.475278,3.225017,...,28.100000,0.068592,1134.500000,0.750618,634.582617,490.000000,48.190255,68.527206,890.177126,11.343218
3,Zimbabwe,ZWE,1995,15480.000000,1.408035,8869.999886,4790.0,45.636161,51.114201,3.249638,...,31.948580,0.188433,548.200000,0.711965,646.829560,470.000000,48.071165,67.062264,895.133918,11.416694
4,Zimbabwe,ZWE,1996,14860.000000,1.329377,10340.000153,5830.0,44.777706,51.981845,3.240450,...,32.337296,0.596272,1258.700000,0.608152,765.165124,560.000000,47.952074,66.738328,876.686714,11.442632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5671,Africa Eastern and Southern,AFE,2011,521760.009862,0.970188,508730.002934,259730.0,43.207764,53.880073,2.912163,...,28.948628,0.307066,1720.800433,0.294643,1792.847428,1570.278589,32.370921,62.573145,743.414188,13.327880
5672,Africa Eastern and Southern,AFE,2012,543439.999305,0.983547,494579.996178,261270.0,43.072720,53.990827,2.936453,...,31.682318,0.528942,1651.989944,0.306590,1760.216229,1679.256511,31.890583,61.081094,722.250483,13.493687
5673,Africa Eastern and Southern,AFE,2013,565430.012964,0.995665,496859.996045,259480.0,42.933695,54.104819,2.961486,...,31.610692,1.159402,1536.668389,0.298683,1731.795976,1711.725316,31.680565,60.378305,719.006176,13.657220
5674,Africa Eastern and Southern,AFE,2014,587699.992426,1.006938,501330.001080,259870.0,42.777344,54.234388,2.988268,...,31.824950,1.058701,1644.104399,0.290138,1719.809190,1691.540731,31.470564,60.712292,734.218757,13.814164
5675,Africa Eastern and Southern,AFE,2015,574029.994987,0.956704,509910.000766,262460.0,42.594171,54.390350,3.015479,...,33.744405,0.802633,1637.055779,0.273490,1540.850354,1574.778660,31.260350,61.106397,1231.612496,13.934293

In [15]:
#Save data into csv file
ghg_emissions_df.to_csv('../Resources/ghg_emissions_viz.csv',index= False)