Ensure conda environment has wbgapi installed: pip install wbgapi

In [1]:
# Import dependencies
import pandas as pd
import wbgapi as wb
import numpy as np

### Needed Series from WDI Database 
- EN.ATM.CO2E.KT - CO2 emissions (kt)
- EN.ATM.CO2E.PC - CO2 emissions (metric tons per capita)
- EN.ATM.CO2E.PP.GD.KD	- CO2 emissions (kg per 2017 PPP dollar of GDP)
- EG.USE.PCAP.KG.OE	 - Energy Use (kg of oil equivalent per capita)
- EG.FEC.RNEW.ZS - Renewable energy consumption (% of total final energy consumption)
- AG.YLD.CREL.KG - Cereal yield
- EG.ELC.ACCS.ZS - Access to Electricity (% of population)
- AG.LND.FRST.ZS - Forest area (% of land area)
- NY.GDP.MKTP.KD.ZG - GDP growth (annual %)
- NY.GDP.PCAP.CD - GDP per capita (current USD)
- NY.GNP.PCAP.CD - GNI per capita, Atlas method (current USD)
- SP.POP.TOTL - Total Population
- SP.POP.GROW - Population growth (annual %)
- SP.URB.GROW - Urban population growth (annual %)
- SP.URB.TOTL - Urban population
- SP.URB.TOTL.IN.ZS	- Urban population (% of total population)

## Extract emissions data from World Bank database via API (wbgapi)

In [2]:
series_list = ['EN.ATM.CO2E.KT',
               'EN.ATM.CO2E.PC',
               'EN.ATM.CO2E.PP.GD.KD',
               'EG.USE.PCAP.KG.OE',
               'EG.FEC.RNEW.ZS',
               'AG.YLD.CREL.KG',
               'EG.ELC.ACCS.ZS',
               'AG.LND.FRST.ZS',
               'NY.GDP.MKTP.KD.ZG',
               'NY.GDP.PCAP.CD',
               'NY.GNP.PCAP.CD',
               'SP.POP.TOTL',
               'SP.POP.GROW',
               'SP.URB.GROW',
               'SP.URB.TOTL',
               'SP.URB.TOTL.IN.ZS']

In [3]:
# Using wbgapi to extract World Bank data as Pandas data frame
raw_df = wb.data.DataFrame(series_list, time=range(1990, 2018), numericTimeKeys=True, labels=True, columns='series').reset_index()
raw_df.head()

,economy,time,Country,Time,AG.LND.FRST.ZS,AG.YLD.CREL.KG,EG.ELC.ACCS.ZS,EG.FEC.RNEW.ZS,EG.USE.PCAP.KG.OE,EN.ATM.CO2E.KT,EN.ATM.CO2E.PC,EN.ATM.CO2E.PP.GD.KD,NY.GDP.MKTP.KD.ZG,NY.GDP.PCAP.CD,NY.GNP.PCAP.CD,SP.POP.GROW,SP.POP.TOTL,SP.URB.GROW,SP.URB.TOTL,SP.URB.TOTL.IN.ZS
0,ZWE,2017,Zimbabwe,2017,45.451183,1202.7,44.178635,82.46,NaN,10340.000153,0.700965,0.300613,4.080264,1192.107012,1170.0,2.043620,14751101.0,1.860765,4755312.0,32.237
1,ZWE,2016,Zimbabwe,2016,45.570273,435.1,42.561729,81.90,NaN,11020.000458,0.762487,0.333455,0.900955,1421.787789,1200.0,2.081806,14452704.0,1.806610,4667645.0,32.296
2,ZWE,2015,Zimbabwe,2015,45.689363,557.5,33.700001,80.82,NaN,12430.000305,0.878139,0.379509,2.023650,1410.329174,1220.0,2.136294,14154937.0,1.769505,4584076.0,32.385
3,ZWE,2014,Zimbabwe,2014,45.808453,831.4,32.299999,80.27,NaN,12079.999924,0.871840,0.376287,1.484543,1407.034293,1210.0,2.191391,13855753.0,1.730983,4503674.0,32.504
4,ZWE,2013,Zimbabwe,2013,45.927543,668.5,40.498375,78.87,832.572236,12279.999733,0.905911,0.388196,3.196731,1408.367810,1200.0,2.163267,13555422.0,1.613531,4426387.0,32.654

In [4]:
# Rows and columns of data set
raw_df.shape

(7448, 20)

In [5]:
# # Datatypes of columns
raw_df.dtypes

economy                  object
time                      int64
Country                  object
Time                     object
AG.LND.FRST.ZS          float64
AG.YLD.CREL.KG          float64
EG.ELC.ACCS.ZS          float64
EG.FEC.RNEW.ZS          float64
EG.USE.PCAP.KG.OE       float64
EN.ATM.CO2E.KT          float64
EN.ATM.CO2E.PC          float64
EN.ATM.CO2E.PP.GD.KD    float64
NY.GDP.MKTP.KD.ZG       float64
NY.GDP.PCAP.CD          float64
NY.GNP.PCAP.CD          float64
SP.POP.GROW             float64
SP.POP.TOTL             float64
SP.URB.GROW             float64
SP.URB.TOTL             float64
SP.URB.TOTL.IN.ZS       float64
dtype: object

In [6]:
# Descriptive statistics
raw_df.describe()

,time,AG.LND.FRST.ZS,AG.YLD.CREL.KG,EG.ELC.ACCS.ZS,EG.FEC.RNEW.ZS,EG.USE.PCAP.KG.OE,EN.ATM.CO2E.KT,EN.ATM.CO2E.PC,EN.ATM.CO2E.PP.GD.KD,NY.GDP.MKTP.KD.ZG,NY.GDP.PCAP.CD,NY.GNP.PCAP.CD,SP.POP.GROW,SP.POP.TOTL,SP.URB.GROW,SP.URB.TOTL,SP.URB.TOTL.IN.ZS
count,7448.00000,7117.000000,6175.000000,6305.000000,7089.000000,4751.000000,6.669000e+03,6669.000000,6206.000000,6782.000000,6944.000000,6393.000000,7418.000000,7.420000e+03,7363.000000,7.364000e+03,7364.000000
mean,2003.50000,32.625391,2894.700192,79.933424,31.159401,2270.160374,9.927095e+05,4.210340,0.268540,3.581076,11171.752248,9479.314154,1.478696,2.583084e+08,2.226490,1.210294e+08,55.266415
std,8.07829,23.388023,2336.051682,29.463801,30.118135,2669.532102,3.204385e+06,5.229999,0.215092,5.787170,18975.239473,15075.519703,1.650633,8.196081e+08,2.092501,3.806065e+08,23.529375
min,1990.00000,0.000000,0.100000,0.533899,0.000000,9.579196,0.000000e+00,0.000000,0.000000,-64.047107,22.850371,40.000000,-27.722225,9.182000e+03,-27.707932,3.733000e+03,5.416000
25%,1996.75000,12.513950,1404.050000,65.926689,4.785963,603.049194,2.230000e+03,0.639336,0.138454,1.545476,1007.129242,910.000000,0.546640,1.330466e+06,0.774823,6.515722e+05,35.295750
50%,2003.50000,30.855176,2388.700000,98.300003,20.946516,1238.114597,2.374000e+04,2.421594,0.215263,3.712218,3322.033110,3020.000000,1.408416,8.483160e+06,2.199913,4.041233e+06,54.165000
75%,2010.25000,47.617367,3796.250000,100.000000,54.760000,3025.736971,2.464900e+05,6.218103,0.330033,5.902814,13096.144542,10400.000000,2.416364,5.593234e+07,3.503700,3.182758e+07,74.308513
max,2017.00000,98.574551,36761.900000,100.000000,98.340000,21420.628504,3.351454e+07,47.651306,2.085052,149.972963,203266.913745,122130.000000,19.360429,7.578158e+09,31.143425,4.147419e+09,100.000000

## Data clean starts here

In [7]:
# Assign original dataframe to another that can be modified
emissions_df = raw_df
emissions_df.sample(5)

,economy,time,Country,Time,AG.LND.FRST.ZS,AG.YLD.CREL.KG,EG.ELC.ACCS.ZS,EG.FEC.RNEW.ZS,EG.USE.PCAP.KG.OE,EN.ATM.CO2E.KT,EN.ATM.CO2E.PC,EN.ATM.CO2E.PP.GD.KD,NY.GDP.MKTP.KD.ZG,NY.GDP.PCAP.CD,NY.GNP.PCAP.CD,SP.POP.GROW,SP.POP.TOTL,SP.URB.GROW,SP.URB.TOTL,SP.URB.TOTL.IN.ZS
6606,MEA,1991,Middle East & North Africa,1991,1.826907,1761.703379,NaN,2.786631,1216.253756,888015.939322,3.370773,0.310821,4.169023,2140.306533,NaN,2.826580,263445808.0,3.470542,144931486.0,55.013776
5484,BMU,1993,Bermuda,1993,18.518519,NaN,100.000000,0.000000,NaN,NaN,NaN,NaN,3.008567,30900.694279,NaN,0.536149,58910.0,0.536149,58910.0,100.000000
5582,BLR,2007,Belarus,2007,42.005214,2880.900000,100.000000,7.280000,2917.907033,57650.001526,6.029734,0.418228,8.600007,4735.657608,4310.000000,-0.458848,9560953.0,0.166806,7005597.0,73.273000
4638,CYP,1999,Cyprus,1999,18.458874,2156.400000,100.000000,3.226643,2132.539717,6870.000000,7.374410,0.318342,4.997960,15287.918945,14340.000000,1.835113,931600.0,2.013404,638398.0,68.527000
6317,PRE,2000,Pre-demographic dividend,2000,29.272689,1007.819088,24.764199,78.076849,521.149074,261897.750340,0.473518,0.186701,5.516473,501.458427,413.406233,2.820347,553089230.0,4.051975,177859062.0,32.157390

In [8]:
# Remove Time column as it is a duplicate
emissions_df.drop(columns = ['Time'], axis = 1, inplace = True)

In [9]:
# Create a dictionary to rename the columns headers to meaningful names
column_names = {'AG.LND.FRST.ZS':'forest_area_percent',
             'AG.YLD.CREL.KG':'cereal_yield',
             'EG.ELC.ACCS.ZS':'electricity_access_percent',
             'EG.FEC.RNEW.ZS':'renew_energy_percent',
             'EG.USE.PCAP.KG.OE':'energy_use_per_capita',
             'EN.ATM.CO2E.KT':'emissions_total',
             'EN.ATM.CO2E.PC':'emissions_per_capita',
             'EN.ATM.CO2E.PP.GD.KD':'emissions_per_gdp',
             'NY.GDP.MKTP.KD.ZG':'gdp_growth_percent',
             'NY.GDP.PCAP.CD':'gdp_per_capita',
             'NY.GNP.PCAP.CD':'gni_per_capita',
             'SP.POP.GROW':'pop_growth_percent',
             'SP.POP.TOTL':'pop_total',
             'SP.URB.GROW':'urb_pop_growth_percent',
             'SP.URB.TOTL':'urban_pop_total',
             'SP.URB.TOTL.IN.ZS':'urban_pop_percent',
             'economy':'country_code',
             'time':'year',
             'Country':'country_name'    
            }

In [10]:
# Rename the columns headers
emissions_df = emissions_df.rename(columns=column_names)
emissions_df.sample(10)

,country_code,year,country_name,forest_area_percent,cereal_yield,electricity_access_percent,renew_energy_percent,energy_use_per_capita,emissions_total,emissions_per_capita,emissions_per_gdp,gdp_growth_percent,gdp_per_capita,gni_per_capita,pop_growth_percent,pop_total,urb_pop_growth_percent,urban_pop_total,urban_pop_percent
1201,SVN,1992,Slovenia,59.433962,3230.100000,100.000000,13.900844,2584.335171,1.283000e+04,6.426252,NaN,NaN,NaN,NaN,-0.146699,1996498.0,-0.095288,1009090.0,50.543000
1601,QAT,2012,Qatar,0.000000,6076.400000,100.000000,0.040000,19987.584354,7.508000e+04,39.398425,0.355160,4.730012,98041.362238,83990.000000,5.472720,1905660.0,5.568990,1880829.0,98.697000
2188,NPL,2013,Nepal,41.590722,2569.700000,77.466194,86.050000,410.221516,6.090000e+03,0.222413,0.074578,3.525153,809.384601,840.000000,0.185922,27381555.0,2.210192,4878024.0,17.815000
1272,SGP,2005,Singapore,25.220464,NaN,100.000000,0.540000,5055.966320,3.690000e+04,8.650272,0.129160,7.366322,29961.263277,28830.000000,2.350511,4265762.0,2.350511,4265762.0,100.000000
7127,ECA,2002,Europe & Central Asia (excluding high income),39.122453,2104.476484,99.907660,5.135393,2799.043374,2.604208e+06,7.023070,0.577521,5.488454,2024.530530,1857.390044,0.018477,370807684.0,0.244032,239168943.0,64.796927
826,SWE,2003,Sweden,69.072570,4584.500000,100.000000,34.560000,5650.438050,5.520000e+04,6.161932,0.144381,2.309811,37321.797905,32750.000000,0.372093,8958229.0,0.446939,7542470.0,84.196000
4558,DJI,1995,Djibouti,0.241588,1666.700000,NaN,31.174133,NaN,3.200000e+02,0.508244,NaN,NaN,790.516107,NaN,0.980300,629619.0,1.040576,480399.0,76.300000
2982,LBN,2003,Lebanon,13.482991,2372.000000,99.316109,7.380000,1161.534556,1.741000e+04,3.864760,0.285933,3.227098,4458.108580,3690.000000,1.299045,4504807.0,1.445046,3890622.0,86.366000
4497,DOM,2000,Dominican Republic,40.829435,4159.300000,88.764931,19.110000,845.317957,1.867000e+04,2.185980,0.236417,4.661762,2845.839167,2660.000000,1.526879,8540791.0,2.863642,5274195.0,61.753000
2685,MDV,1992,Maldives,2.733333,1000.000000,NaN,3.133234,NaN,2.300000e+02,0.961796,NaN,NaN,1191.267394,NaN,2.964871,239136.0,2.720067,61489.0,25.713000

In [11]:
# Swap year and country_name columns
col_list = list(emissions_df.columns)
x, y = col_list.index('year'), col_list.index('country_name')
col_list[y], col_list[x] = col_list[x], col_list[y]
emissions_df = emissions_df[col_list]
list(emissions_df.columns)

['country_code',
 'country_name',
 'year',
 'forest_area_percent',
 'cereal_yield',
 'electricity_access_percent',
 'renew_energy_percent',
 'energy_use_per_capita',
 'emissions_total',
 'emissions_per_capita',
 'emissions_per_gdp',
 'gdp_growth_percent',
 'gdp_per_capita',
 'gni_per_capita',
 'pop_growth_percent',
 'pop_total',
 'urb_pop_growth_percent',
 'urban_pop_total',
 'urban_pop_percent']

### Objective: Remove as many empty cells as possible while preserving the highest number of rows or columns to get a large and diverse quality dataset.

How to deal with NA?   
Approaches:
1. Drop all NA in the dataset.(Specifying threshold)
2. Filter dataset based on missing values 
    - Years, countries, features (columns)  
    - Check for null values in each of the above, manual decision to remove those with more missing values (~ bins)
    - Decide to drop NA or fill them

### Approach 1: Drop all NA in dataset

In [18]:
emissions_df.shape

(7448, 19)

In [19]:
df_1 = emissions_df
df_1 = df_1.dropna(thresh=15) 
df_1.shape

(6530, 19)

### Approach 2: Filter dataset based on missing year values

In [23]:
# Make a copy of data frame to filter missing data based on year
filter_year_df = emissions_df
filter_year_df.shape

(7448, 19)

In [24]:
# Check for null values in dataset
filter_year_df.isnull().sum()

country_code                     0
country_name                     0
year                             0
forest_area_percent            331
cereal_yield                  1273
electricity_access_percent    1143
renew_energy_percent           359
energy_use_per_capita         2697
emissions_total                779
emissions_per_capita           779
emissions_per_gdp             1242
gdp_growth_percent             666
gdp_per_capita                 504
gni_per_capita                1055
pop_growth_percent              30
pop_total                       28
urb_pop_growth_percent          85
urban_pop_total                 84
urban_pop_percent               84
dtype: int64

In [25]:
# Define an array with the unique year values
years_count_missing = dict.fromkeys(filter_year_df['year'].unique(), 0)
for ind, row in filter_year_df.iterrows():
    years_count_missing[row['year']] += row.isnull().sum()

# Sort the years by missing values
years_missing_sorted = dict(sorted(years_count_missing.items(), key=lambda item: item[1]))

# Print the missing values for each year
print("Missing values by year:")
for key, val in years_missing_sorted.items():
    print(key, ":", val)

Missing values by year:
2007 : 262
2006 : 264
2005 : 271
2013 : 274
2004 : 274
2014 : 277
2012 : 279
2011 : 283
2010 : 289
2009 : 293
2008 : 297
2003 : 308
2002 : 314
2001 : 334
2000 : 342
2015 : 417
1999 : 430
1998 : 442
1997 : 454
1996 : 474
1995 : 499
2017 : 508
2016 : 508
1994 : 539
1993 : 553
1992 : 587
1991 : 680
1990 : 687

#### Filter criteria for years
- Discard data for years having >500 missing values.
- Consider years 1995 through 2015.

In [26]:
print(f"Number of missing values in dataset before filtering the years: {filter_year_df.isnull().sum().sum()}")
print(f"Number of rows before filtering the years: {filter_year_df.shape[0]}")

# Filter rows for years between 1995 and 2015
filter_year = (filter_year_df['year'] >= 1996) & (filter_year_df['year'] <= 2014)
filter_year_df = filter_year_df[filter_year]

print(f"Number of missing values in the dataset after filtering the years: {filter_year_df.isnull().sum().sum()}")
print(f"Number of rows after filtering the years: {filter_year_df.shape[0]}")

Number of missing values in dataset before filtering the years: 11139
Number of rows before filtering the years: 7448
Number of missing values in the dataset after filtering the years: 6161
Number of rows after filtering the years: 5054

### Approach 2: Filter missing data based on countries

In [28]:
# Create a df to filter by missing values of countries
filter_countries_df = filter_year_df
filter_countries_df.shape

(5054, 19)

In [29]:
# Find the number of nulls in df
filter_countries_df.isnull().sum()

country_code                     0
country_name                     0
year                             0
forest_area_percent            180
cereal_yield                   820
electricity_access_percent     372
renew_energy_percent           148
energy_use_per_capita         1440
emissions_total                521
emissions_per_capita           521
emissions_per_gdp              767
gdp_growth_percent             344
gdp_per_capita                 261
gni_per_capita                 578
pop_growth_percent              19
pop_total                       19
urb_pop_growth_percent          57
urban_pop_total                 57
urban_pop_percent               57
dtype: int64

In [32]:
# Check the numner of missing values by country

# Define an array with the unique country values
countries_count_missing = dict.fromkeys(filter_countries_df['country_code'].unique(), 0)

# Iterate through all rows and count the amount of NaN values for each country
for ind, row in filter_countries_df.iterrows():
    countries_count_missing[row['country_code']] += row.isnull().sum()

# sort the countries by missing values
countries_missing_sorted = dict(sorted(countries_count_missing.items(), key=lambda item: item[1]))

# print the missing values for each country
print("Missing values by country:")
for key, val in countries_missing_sorted.items():
    print(key, ":", val)

Missing values by country:
URY : 0
USA : 0
GBR : 0
UKR : 0
TUN : 0
TZA : 0
CHE : 0
SWE : 0
ESP : 0
ZAF : 0
SVK : 0
SEN : 0
SAU : 0
RUS : 0
ROU : 0
PRT : 0
POL : 0
PHL : 0
PER : 0
PRY : 0
PAN : 0
OMN : 0
NOR : 0
MKD : 0
NGA : 0
NIC : 0
NZL : 0
NLD : 0
NPL : 0
NAM : 0
MAR : 0
MEX : 0
MUS : 0
MLT : 0
KWT : 0
KOR : 0
KEN : 0
KAZ : 0
JOR : 0
JPN : 0
JAM : 0
ITA : 0
IRL : 0
IDN : 0
IND : 0
HUN : 0
HND : 0
HTI : 0
GTM : 0
GHA : 0
DEU : 0
FRA : 0
FIN : 0
SLV : 0
EGY : 0
ECU : 0
DOM : 0
DNK : 0
CZE : 0
CYP : 0
CIV : 0
COL : 0
CHL : 0
CMR : 0
BGR : 0
BRN : 0
BRA : 0
BWA : 0
BIH : 0
BOL : 0
BEN : 0
BLR : 0
BGD : 0
AUT : 0
AUS : 0
ARG : 0
ALB : 0
TSS : 0
SSA : 0
SSF : 0
TSA : 0
SAS : 0
PST : 0
OED : 0
NAC : 0
LMC : 0
TLA : 0
LAC : 0
LCN : 0
HIC : 0
EUU : 0
TEC : 0
ECA : 0
ECS : 0
EMU : 0
EAR : 0
CEB : 0
ARB : 0
AFW : 0
ZWE : 1
ZMB : 1
UZB : 1
SVN : 1
MOZ : 1
MDA : 1
LTU : 1
LVA : 1
KGZ : 1
ISR : 1
HRV : 1
PRE : 1
VNM : 2
TGO : 2
PAK : 2
KHM : 2
WLD : 2
IDA : 2
IDX : 2
IDB : 2
TJK : 3
AZE : 3
ARE : 4
TKM : 4
TUR : 4
TTO : 4
THA : 4
LKA : 4
MMR : 4
MNG : 4
MYS : 4
LBN : 4
IRQ : 4
IRN : 4
GEO : 4
GAB : 4
ETH : 4
EST : 4
CRI : 4
COG : 4
COD : 4
CHN : 4
BEL : 4
ARM : 4
AGO : 4
DZA : 4
UMC : 4
MIC : 4
TMN : 4
MNA : 4
MEA : 4
LMY : 4
LDC : 4
LTE : 4
IBT : 4
IBD : 4
FCS : 4
TEA : 4
EAP : 4
EAS : 4
CSS : 4
AFE : 4
CAN : 6
NER : 8
LUX : 8
HPC : 8
GRC : 10
SUR : 11
VUT : 15
VCT : 15
QAT : 15
GUY : 15
GMB : 15
FJI : 15
COM : 15
BLZ : 15
BRB : 15
BHS : 15
ATG : 15
SDN : 16
LBY : 17
GRD : 17
DMA : 17
SLB : 18
PSS : 18
UGA : 19
SGP : 19
PNG : 19
MWI : 19
MDG : 19
LSO : 19
LAO : 19
SWZ : 19
CAF : 19
CPV : 19
BFA : 19
BTN : 19
BHR : 19
YEM : 20
VEN : 20
RWA : 20
MDV : 20
ISL : 20
TCD : 20
SRB : 21
GNB : 21
BDI : 21
GIN : 22
SLE : 23
FSM : 23
MRT : 23
CUB : 23
LIC : 23
MLI : 25
SYR : 27
ERI : 28
SST : 31
TON : 34
KNA : 34
SYC : 34
OSS : 34
MHL : 37
LCA : 38
KIR : 38
GNQ : 38
WSM : 40
STP : 42
TUV : 47
LBR : 49
MNE : 51
AFG : 55
TLS : 56
PLW : 57
DJI : 69
LIE : 71
PRI : 76
AND : 76
PSE : 77
NRU : 85
PRK : 89
SOM : 94
HKG : 95
ABW : 95
IMN : 100
GRL : 102
NCL : 104
PYF : 109
BMU : 109
MAC : 114
VIR : 127
MNP : 127
GUM : 127
CUW : 128
CYM : 130
SSD : 133
MCO : 133
GIB : 133
TCA : 134
FRO : 135
SMR : 138
ASM : 146
VGB : 152
SXM : 160
CHI : 163
XKX : 210
MAF : 241
INX : 304

#### Filter criteria for countries
- Discard countries having >90 missing values.

In [34]:
print(f"Number of missing values in the dataset before filtering the countries: {filter_countries_df.isnull().sum().sum()}")
print(f"Number of rows before filtering the countries: {filter_countries_df.shape[0]}")

# filter only rows for countries with less than 90 missing values
countries_filter = []
for key, val in countries_missing_sorted.items():
    if val<90:
        countries_filter.append(key)

filter_countries_df = filter_countries_df[filter_countries_df['country_code'].isin(countries_filter)]

print(f"Number of missing values in the dataset after filtering the countries: {filter_countries_df.isnull().sum().sum()}")
print(f"Number of rows after filtering the countries:{filter_countries_df.shape[0]}")

Number of missing values in the dataset before filtering the countries: 6161
Number of rows before filtering the countries: 5054
Number of missing values in the dataset after filtering the countries: 2418
Number of rows after filtering the countries:4541

### Approach 2:  Filter missing values based on features

In [35]:
# Assign a new data frame to clean features
filter_feature_df = filter_countries_df
filter_feature_df.shape

(4541, 19)

In [36]:
filter_feature_df.isnull().sum()

country_code                     0
country_name                     0
year                             0
forest_area_percent             24
cereal_yield                   348
electricity_access_percent     309
renew_energy_percent            25
energy_use_per_capita         1002
emissions_total                 46
emissions_per_capita            46
emissions_per_gdp              256
gdp_growth_percent             105
gdp_per_capita                  63
gni_per_capita                 194
pop_growth_percent               0
pop_total                        0
urb_pop_growth_percent           0
urban_pop_total                  0
urban_pop_percent                0
dtype: int64

- Label: emissions_total (46 null values)
- Essential features: GDP related
- Removing all features with >200 missing values

In [38]:
# TODO: move import to the top
from itertools import compress

# Create a boolean mapping of features with more missing values
features_to_remove = filter_feature_df.isnull().sum()>200

# Remove the corresponding columns
df_2 = filter_feature_df.drop(compress(data = filter_feature_df.columns, selectors = features_to_remove), axis='columns')

print("Remaining missing values per column:")
print(df_2.isnull().sum())

Remaining missing values per column:
country_code                0
country_name                0
year                        0
forest_area_percent        24
renew_energy_percent       25
emissions_total            46
emissions_per_capita       46
gdp_growth_percent        105
gdp_per_capita             63
gni_per_capita            194
pop_growth_percent          0
pop_total                   0
urb_pop_growth_percent      0
urban_pop_total             0
urban_pop_percent           0
dtype: int64

In [39]:
# Removing the rows with the missing values 
clean_df = df_2.dropna(axis='rows', how='any')

print(f"Remaining missing values per column: {clean_df.isnull().sum()}")
print(f"Final shape of the cleaned dataset: {clean_df.shape}")

Remaining missing values per column: country_code              0
country_name              0
year                      0
forest_area_percent       0
renew_energy_percent      0
emissions_total           0
emissions_per_capita      0
gdp_growth_percent        0
gdp_per_capita            0
gni_per_capita            0
pop_growth_percent        0
pop_total                 0
urb_pop_growth_percent    0
urban_pop_total           0
urban_pop_percent         0
dtype: int64
Final shape of the cleaned dataset: (4278, 15)

In [43]:
#Save data into csv file
clean_df.to_csv('../Resources/emissions_2.csv',index= False)

### Approach 2 : Filter countries by UN countries list 
- Check country name against UN country list.
- Drop countries not in UN list.  

(Works on emissions_df)

In [40]:
# Official countries list from https://unstats.un.org/unsd/methodology/m49/
countries = ["AFG","ALA","ALB","DZA","ASM","AND","AGO","AIA","ATA","ATG","ARG","ARM","ABW","AUS","AUT","AZE","BHS","BHR","BGD","BRB","BLR","BEL","BLZ","BEN","BMU","BTN","BOL","BES","BIH","BWA","BVT","BRA","IOT","VGB","BRN","BGR","BFA","BDI","CPV","KHM","CMR","CAN","CYM","CAF","TCD","CHL","CHN","HKG","MAC","CXR","CCK","COL","COM","COG","COK","CRI","CIV","HRV","CUB","CUW","CYP","CZE","PRK","COD","DNK","DJI","DMA","DOM","ECU","EGY","SLV","GNQ","ERI","EST","SWZ","ETH","FLK","FRO","FJI","FIN","FRA","GUF","PYF","ATF","GAB","GMB","GEO","DEU","GHA","GIB","GRC","GRL","GRD","GLP","GUM","GTM","GGY","GIN","GNB","GUY","HTI","HMD","VAT","HND","HUN","ISL","IND","IDN","IRN","IRQ","IRL","IMN","ISR","ITA","JAM","JPN","JEY","JOR","KAZ","KEN","KIR","KWT","KGZ","LAO","LVA","LBN","LSO","LBR","LBY","LIE","LTU","LUX","MDG","MWI","MYS","MDV","MLI","MLT","MHL","MTQ","MRT","MUS","MYT","MEX","FSM","MCO","MNG","MNE","MSR","MAR","MOZ","MMR","NAM","NRU","NPL","NLD","NCL","NZL","NIC","NER","NGA","NIU","NFK","MKD","MNP","NOR","OMN","PAK","PLW","PAN","PNG","PRY","PER","PHL","PCN","POL","PRT","PRI","QAT","KOR","MDA","REU","ROU","RUS","RWA","BLM","SHN","KNA","LCA","MAF","SPM","VCT","WSM","SMR","STP","","SAU","SEN","SRB","SYC","SLE","SGP","SXM","SVK","SVN","SLB","SOM","ZAF","SGS","SSD","ESP","LKA","PSE","SDN","SUR","SJM","SWE","CHE","SYR","TJK","THA","TLS","TGO","TKL","TON","TTO","TUN","TUR","TKM","TCA","TUV","UGA","UKR","ARE","GBR","TZA","UMI","USA","VIR","URY","UZB","VUT","VEN","VNM","WLF","ESH","YEM","ZMB","ZWE"]
len(countries) # 249 countries

249

In [41]:
#List of countries which are not in countries official list
countries_to_drop = emissions_df.loc[~emissions_df["country_code"].isin(countries)]
countries_to_drop['country_name'].unique()
# After filtering based on official list of countries we have data for 150 countries (removes 852 records)

array(['Kosovo', 'Channel Islands', 'World', 'Upper middle income',
       'Sub-Saharan Africa (IDA & IBRD countries)',
       'Sub-Saharan Africa (excluding high income)', 'Sub-Saharan Africa',
       'South Asia (IDA & IBRD)', 'South Asia', 'Small states',
       'Pre-demographic dividend', 'Post-demographic dividend',
       'Pacific island small states', 'Other small states',
       'OECD members', 'Not classified', 'North America', 'Middle income',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa', 'Lower middle income', 'Low income',
       'Low & middle income',
       'Least developed countries: UN classification',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & Caribbean', 'Late-demographic dividend',
       'IDA total', 'IDA only', 'IDA blend', 'IDA & IBRD total',
       'IBRD only', 'High income',
       'Heavily indebted poor countries (HIPC)',
       'Fragile and conflict affected situations', 'European Union',
       'Europe & Central Asia (IDA & IBRD countries)',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia', 'Euro area',
       'East Asia & Pacific (IDA & IBRD countries)',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific', 'Early-demographic dividend',
       'Central Europe and the Baltics', 'Caribbean small states',
       'Arab World', 'Africa Western and Central',
       'Africa Eastern and Southern'], dtype=object)

Question:
Since the number/names of countries in the world keep changing over time, should we drop data for countries that are not existent (as of 2022) according to UN official list?
Yes, if countries_to_drop have lot of missing data.

Verify:
- Compare regions and economies with UN list 
    - Region and economies
    - The number of missing values in countries_to drop list (TODO)
- Decide to drop those countries (TODO)

In [42]:
# All regions in WBGAPI
wb.region.info()

code    name
------  -----------------------------------------------------
AFE     Africa Eastern and Southern
AFR     Africa
AFW     Africa Western and Central
ARB     Arab World
CAA     Sub-Saharan Africa (IFC classification)
CEA     East Asia and the Pacific (IFC classification)
CEB     Central Europe and the Baltics
CEU     Europe and Central Asia (IFC classification)
CLA     Latin America and the Caribbean (IFC classification)
CME     Middle East and North Africa (IFC classification)
CSA     South Asia (IFC classification)
CSS     Caribbean small states
EAP     East Asia & Pacific (excluding high income)
EAR     Early-demographic dividend
EAS     East Asia & Pacific
ECA     Europe & Central Asia (excluding high income)
ECS     Europe & Central Asia
EMU     Euro area
EUU     European Union
FCS     Fragile and conflict affected situations
HPC     Heavily indebted poor countries (HIPC)
LAC     Latin America & Caribbean (excluding high income)
LCN     Latin America & Caribbean
LDC     Least developed countries: UN classification
LTE     Late-demographic dividend
MDE     Middle East (developing only)
MEA     Middle East & North Africa
MNA     Middle East & North Africa (excluding high income)
NAC     North America
NAF     North Africa
NRS     Non-resource rich Sub-Saharan Africa countries
OED     OECD members
OSS     Other small states
PRE     Pre-demographic dividend
PSS     Pacific island small states
PST     Post-demographic dividend
RRS     Resource rich Sub-Saharan Africa countries
SAS     South Asia
SSA     Sub-Saharan Africa (excluding high income)
SSF     Sub-Saharan Africa
SST     Small states
SXZ     Sub-Saharan Africa excluding South Africa
WLD     World
XZN     Sub-Saharan Africa excluding South Africa and Nigeria
        44 elements

In [44]:
# Select countries which are in UN official list
emissions_df = emissions_df.loc[emissions_df["country_code"].isin(countries)]
emissions_df

,country_code,country_name,year,forest_area_percent,cereal_yield,electricity_access_percent,renew_energy_percent,energy_use_per_capita,emissions_total,emissions_per_capita,emissions_per_gdp,gdp_growth_percent,gdp_per_capita,gni_per_capita,pop_growth_percent,pop_total,urb_pop_growth_percent,urban_pop_total,urban_pop_percent
0,ZWE,Zimbabwe,2017,45.451183,1202.7,44.178635,82.460000,NaN,10340.000153,0.700965,0.300613,4.080264,1192.107012,1170.0,2.043620,14751101.0,1.860765,4755312.0,32.237
1,ZWE,Zimbabwe,2016,45.570273,435.1,42.561729,81.900000,NaN,11020.000458,0.762487,0.333455,0.900955,1421.787789,1200.0,2.081806,14452704.0,1.806610,4667645.0,32.296
2,ZWE,Zimbabwe,2015,45.689363,557.5,33.700001,80.820000,NaN,12430.000305,0.878139,0.379509,2.023650,1410.329174,1220.0,2.136294,14154937.0,1.769505,4584076.0,32.385
3,ZWE,Zimbabwe,2014,45.808453,831.4,32.299999,80.270000,NaN,12079.999924,0.871840,0.376287,1.484543,1407.034293,1210.0,2.191391,13855753.0,1.730983,4503674.0,32.504
4,ZWE,Zimbabwe,2013,45.927543,668.5,40.498375,78.870000,832.572236,12279.999733,0.905911,0.388196,3.196731,1408.367810,1200.0,2.163267,13555422.0,1.613531,4426387.0,32.654
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6071,AFG,Afghanistan,1994,1.852782,1140.4,NaN,32.796251,NaN,1290.000000,0.083465,NaN,NaN,NaN,NaN,9.864262,15455555.0,10.283085,3328199.0,21.534
6072,AFG,Afghanistan,1993,1.852782,1132.9,NaN,30.585667,NaN,1340.000000,0.095689,NaN,NaN,NaN,NaN,14.964455,14003760.0,15.380336,3002966.0,21.444
6073,AFG,Afghanistan,1992,1.852782,1097.8,NaN,26.521629,NaN,1390.000000,0.115282,NaN,NaN,NaN,NaN,11.522524,12057433.0,11.940176,2574865.0,21.355
6074,AFG,Afghanistan,1991,1.852782,1160.4,NaN,17.036444,NaN,2230.000000,0.207535,NaN,NaN,NaN,NaN,0.469880,10745167.0,0.889255,2285067.0,21.266
6075,AFG,Afghanistan,1990,1.852782,1200.6,NaN,15.924532,NaN,2380.000000,0.222538,NaN,NaN,NaN,NaN,0.202434,10694796.0,0.623574,2264837.0,21.177

In [45]:
pd.set_option("display.float_format", lambda x : f"{x:.2f}")
emissions_df = clean_df.replace(np.nan, 0.0)
emissions_df

,country_code,country_name,year,forest_area_percent,renew_energy_percent,emissions_total,emissions_per_capita,gdp_growth_percent,gdp_per_capita,gni_per_capita,pop_growth_percent,pop_total,urb_pop_growth_percent,urban_pop_total,urban_pop_percent
3,ZWE,Zimbabwe,2014,45.81,80.27,12080.00,0.87,1.48,1407.03,1210.00,2.19,13855753.00,1.73,4503674.00,32.50
4,ZWE,Zimbabwe,2013,45.93,78.87,12280.00,0.91,3.20,1408.37,1200.00,2.16,13555422.00,1.61,4426387.00,32.65
5,ZWE,Zimbabwe,2012,46.05,77.50,12010.00,0.91,15.74,1290.19,1120.00,1.82,13265331.00,1.27,4355539.00,32.83
6,ZWE,Zimbabwe,2011,46.17,79.27,11410.00,0.88,14.62,1082.62,950.00,1.44,13025785.00,0.89,4300463.00,33.02
7,ZWE,Zimbabwe,2010,46.28,82.27,9600.00,0.75,21.45,937.84,650.00,1.25,12839771.00,0.71,4262290.00,33.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7437,AFE,Africa Eastern and Southern,2000,34.72,65.13,355920.00,0.89,3.35,706.99,656.18,2.58,401600588.00,3.60,115551653.00,28.77
7438,AFE,Africa Eastern and Southern,1999,34.87,65.17,351070.00,0.90,2.65,669.69,660.79,2.56,391486231.00,3.60,111533909.00,28.49
7439,AFE,Africa Eastern and Southern,1998,35.02,64.11,365690.00,0.96,1.85,696.37,680.54,2.51,381715600.00,3.59,107656682.00,28.20
7440,AFE,Africa Eastern and Southern,1997,35.17,63.39,356590.00,0.96,4.43,757.85,737.89,2.58,372352230.00,3.64,103927501.00,27.91
7441,AFE,Africa Eastern and Southern,1996,35.32,64.22,340070.00,0.94,5.43,739.47,735.79,2.69,362985802.00,3.78,100274455.00,27.62

In [46]:
#Save data into csv file
emissions_df.to_csv('../Resources/emissions.csv',index= False)